<?xml version="1.0" encoding="utf-8"?>
<Config Version="1.15.3">
  <General>
    <RefreshRate>5</RefreshRate>
    <DockedMode>True</DockedMode>
  </General>
  <InspectPane>
    <Modify>True</Modify>
    <AddLog>True</AddLog>
    <Height>268</Height>
    <MinTabs>7</MinTabs>
    <TabWidth>85</TabWidth>
    <ShowFactionIcon>True</ShowFactionIcon>
    <ShowIdeoligionIcon>True</ShowIdeoligionIcon>
  </InspectPane>
  <Floating>
    <Anchor>2</Anchor>
    <OffsetX>0</OffsetX>
    <OffsetY>0</OffsetY>
    <Width>320</Width>
    <Height>416</Height>
    <LetterPadding>4</LetterPadding>
    <LetterCompress>True</LetterCompress>
  </Floating>
  <Text>
    <Regular>
      <Size>13</Size>
      <Line>100</Line>
    </Regular>
    <Large>
      <Size>9</Size>
      <Line>100</Line>
    </Large>
    <Small>
      <Size>-1</Size>
      <Line>100</Line>
    </Small>
    <LabelWidth>95</LabelWidth>
    <ValueWidth>40</ValueWidth>
    <ShowDecimals>True</ShowDecimals>
  </Text>
  <Colors>
    <Line>CCCCCC66</Line>
    <MainText>FFFFFFFF</MainText>
    <Disabled>808080FF</Disabled>
    <Critical>FF3333FF</Critical>
    <Warning>FFE61AFF</Warning>
    <Info>999999FF</Info>
    <Good>66CCCCFF</Good>
    <Excellent>66CC33FF</Excellent>
    <BarBackground>333333FF</BarBackground>
    <BarMain>409900FF</BarMain>
    <BarLow>990000FF</BarLow>
    <BarThreshold>000000BF</BarThreshold>
    <SelectorText>FFFFFFFF</SelectorText>
    <SelectorBackground>4F5254FF</SelectorBackground>
    <SkillMinorPassion>FFE6B2FF</SkillMinorPassion>
    <SkillMajorPassion>FFCC66FF</SkillMajorPassion>
    <SkillSaturated>FFCCCCFF</SkillSaturated>
    <SkillActive>E6FFB2FF</SkillActive>
    <FactionOwn>FFFFFFFF</FactionOwn>
    <FactionAllied>00FF00FF</FactionAllied>
    <FactionIndependent>00BFFFFF</FactionIndependent>
    <FactionHostile>FF3333FF</FactionHostile>
    <FactionWild>CC8033FF</FactionWild>
    <FactionPrisoner>FFB266FF</FactionPrisoner>
    <FactionSlave>FFD933FF</FactionSlave>
  </Colors>
  <TutorialComplete />
</Config>